@import "normalize.css";
@import "fonts.css";


a {
        font-weight: bold;
        color: #c19a6b;
}

a:hover {
        text-decoration: underline;
}

body {
        background-color: #eee;
        background-size: cover;
        color: #333;
}

h1, h2, h3, h4, h5, h6, li {
        color: #333;
        font-family: 'Noto Sans JP', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
        font-style: italic;
        margin: 0;
        text-shadow: 1px 2px 3px #333;
}

h1 {
        font-size: 42px;
}

h2 {
        font-size: 34px;
}

h3 {
        font-size: 26px;
}

input, label, p, td, textarea, th {
        font-family: 'Open Sans', sans-serif;
}

input, label, p, td, th {
        font-size: 16px;
}

input, textarea {
        border-radius: 10px;
        border: 1px solid #808080;
        font-size: 18px;
        font-style: italic;
        padding: 6px 8px
}

input {
        width: 300px;
}

input[type="reset"], input[type=submit] {
        font-weight: bold;
        width: 100px
}

label {
        display: block;
        font-weight: bold;
        margin: 3px 4px;
        text-align: left;
        width: 100%;
}

ol, ul {
        padding-left: 0;
}

p {
        margin: .8em .4em;
}

table {
        margin-bottom: 15px;
}

textarea {
        height: 200px;
        resize: none;
        width: 500px;
}


/* Unordered list navigation CSS styling */
.navigation-icons, .navigation-menu {
        list-style-type: none;
        margin: 0;
}

.navigation-menu {
        float: left;
        padding-left: 0;
        padding-right: 10px;
        padding-top: 12px;
}

.navigation-icons {
        float: right;
        padding: 0;
        padding-top: 8px;
}

.navigation-icon-item, .navigation-menu-item, .navigation-menu-logo {
        display: inline;
}

.navigation-icon-item {
        padding: 3px 10px;
}

.navigation-menu-item a, .navigation-menu-logo a {
        text-decoration: none;
}

.navigation-menu-item a {
        color: #333;
        font-size: 14px;
        padding: 0 1em;
        text-shadow: 1px 1px 2px #808080;
}

.navigation-menu-item a:hover {
        background-color: #999;
        border-radius: 10px;
        border: 2px solid #999;
        color: #eee;
        text-shadow: 1px 2px 3px #000;
}

.navigation-menu-logo a {
        color: #808080;
        font-family: 'Noto Sans JP', sans-serif;
        font-size: 22px;
        font-weight: bold;
        padding: 3em 30px 0 20px;
        text-shadow: 2px 3px 4px #000;
}

.navigation-menu-logo a:hover {
        color: #000;
        text-decoration: none;
        text-shadow: 1px 1px 3px #808080;
}


/* Main table CSS styling */
.th-heading {
        text-align: left;
}


/* Main layout positioning CSS */
.container, .header-frame {
        width: 100%;
}

.container {
        height: 100%;
}

.container-content {
        height: 100%;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 50px;
        width: 75%;
}

.section {
        height: 550px;
}

.fade-in {
        opacity: 0;
        transition: opacity 250ms ease-in;
}

.fade-in.appear {
        opacity: 1;
}

.floating-header, .floating-footer {
        overflow: hidden;
        position: fixed;
        width: 100%;

}

.floating-header {
        background-color: #f0f0f0;
        border-bottom: 1px solid #333;
        height: 50px;
        top: 0;
}

.floating-footer {
        background-color: #000;
        border-top: 1px solid #444;
        bottom: 0;
        height: 50px;
}


/* Main layout shading CSS */
.container-header {
        border-bottom: 1px solid #000;
        height: 275px;
        margin-top: 60px;
}

.floating-footer {
        color: #fff;
}


/* Main form CSS */
.contact-form {
        margin: auto;
        width: 60%;
}


/* Main text CSS */
.caption {
        font-size: 11px;
        text-align: center;
}

.required {
        color: #99ccaa;
        font-weight: bold;
}

.splash-image {
        background-image: url('../../images/site/cover.png');
        background-repeat: no-repeat;
        background-size: cover;
}
