@import "normalize.css";
@import "fonts.css";


a {
        color: #02075d;
        text-decoration: none;
}

a:hover {
        text-decoration: underline;
}

body {
        /* background-color: #c2b280; */
        /* background-color: #efddaa; */
        background-color: #dfce9b;
        color: #333;
}

h1, h2, h3, h4, h5, h6, li {
        color: #c19a6b;
        font-family: 'Noto Sans JP', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
        text-shadow: 1px 1px 2px #333;
}

h1 {
        font-size: 21px;
}

ol, ul {
        padding-left: 0;
}

p, td, th {
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
}

table {
        margin-bottom: 15px;
}


/* Unordered list styling */
.navigation-icons, .navigation-menu {
        list-style-type: none;
        margin: 0;
}

.navigation-menu {
        float: left;
        padding-left: 0;
        padding-right: 10px;
        padding-top: 12px;
}

.navigation-icons {
        float: right;
        padding: 0;
        padding-top: 8px;
}

.navigation-icon-item, .navigation-menu-item, .navigation-menu-logo {
        display: inline;
}

.navigation-icon-item {
        padding: 3px 10px;
}

.navigation-menu-item a {
        color: #333;
        font-size: 14px;
        padding: 3em 1em 0 1em;
}

.navigation-menu-item a:hover {
        text-decoration: none;
}

.navigation-menu-logo a {
        color: #fff;
        font-family: 'Noto Sans JP', sans-serif;
        font-size: 20px;
        padding: 3em 20px 0 20px;
        text-shadow: 1px 1px 2px #333;
}

.navigation-menu-logo a:hover {
        text-decoration: none;
        text-shadow: 2px 2px 3px #333;
}


.th-heading {
        text-align: left;
}


/* Main layout positioning CSS */
.container-header, .container-footer, .container-navigation, .header-frame {
        width: 100%;
}

.container-content, .footer-content, .navigation-container {
        margin: auto;
        width: 80%;
}

.container-content {
        margin-top: 60px;
}

.floating-header {
        background-color: #f0f0f0;
        border-bottom: 1px solid #808080;
        height: 50px;
        overflow: hidden;
        position: fixed;
        top: 0;
        width: 100%;
}

.footer-content {
        height: 200px;
        padding-top: 5px;
        text-align: center;
}


/* Main layout shading CSS */
.container-header {
        background: url('/home/mtt/GitHub/mtttech/src/images/site/splash.png');
        background-repeat: no-repeat;
        background-size: cover;
        height: 434px;
}

.container-footer {
        background-color: #333;
        color: #fff;
}
