@import "normalize.css";
@import "fonts.css";


a {
        color: #c19a6b;
        text-decoration: none;
}

a:hover {
        text-decoration: underline;
}

body {
        /* background-color: #c2b280; */
        /* background-color: #efddaa; */
        background-color: #dfce9b;
        color: #333;
}

h1, h2, h3, h4, h5, h6, li {
        color: #c19a6b;
        font-family: 'Noto Sans JP', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
        text-shadow: 1px 1px 2px #333;
}

h1 {
        font-size: 21px;
}

input, legend, p, td, textarea, th {
        font-family: 'Open Sans', sans-serif;
        font-size: 13px;
}

input, textarea {
        padding: 6px 8px
}

input {
        width: 300px;
}

input[type=submit] {
        font-weight: bold;
        width: 100px
}

legend {
        font-weight: bold;
        margin: 3px 4px;
}

ol, ul {
        padding-left: 0;
}

table {
        margin-bottom: 15px;
}

textarea {
        height: 200px;
        resize: none;
        width: 300px;
}


/* Unordered list navigation CSS styling */
.navigation-icons, .navigation-menu {
        list-style-type: none;
        margin: 0;
}

.navigation-menu {
        float: left;
        padding-left: 0;
        padding-right: 10px;
        padding-top: 12px;
}

.navigation-icons {
        float: right;
        padding: 0;
        padding-top: 8px;
}

.navigation-icon-item, .navigation-menu-item, .navigation-menu-logo {
        display: inline;
}

.navigation-icon-item {
        padding: 3px 10px;
}

.navigation-menu-item a {
        color: #333;
        font-size: 14px;
        padding: 3em 1em 0 1em;
}

.navigation-menu-item a:hover {
        text-decoration: none;
}

.navigation-menu-logo a {
        color: #fff;
        font-family: 'Noto Sans JP', sans-serif;
        font-size: 20px;
        padding: 3em 20px 0 20px;
        text-shadow: 1px 1px 2px #333;
}

.navigation-menu-logo a:hover {
        text-decoration: none;
        text-shadow: 2px 2px 3px #333;
}


/* Main table CSS styling */
.th-heading {
        text-align: left;
}


/* Main layout positioning CSS */
.container, .header-frame {
        width: 100%;
}

.container {
        height: 100%;
}

.container-content {
        margin: auto;
        margin-bottom: 60px;
        width: 75%;
}

.floating-header, .floating-footer {
        overflow: hidden;
        position: fixed;
        width: 100%;

}

.floating-header {
        background-color: #f0f0f0;
        border-bottom: 1px solid #808080;
        height: 50px;
        top: 0;
}

.floating-footer {
        background-color: #333;
        border-top: 1px solid #808080;
        bottom: 0;
        height: 50px;
}


/* Main layout shading CSS */
.container-header {
        background: url('../../images/site/splash.png');
        background-repeat: no-repeat;
        background-size: cover;
        border-bottom: 1px solid #000;
        height: 275px;
        margin-top: 50px;
}

.floating-footer {
        color: #fff;
}


/* Main text CSS */
.caption {
        font-size: 11px;
        text-align: center;
}

.required {
        font-weight: normal;
}
